.features__list {
    display: flex;
    column-gap: 30px;
}

.features__item {
    flex-basis: calc((100% - 90px) / 4);
}

.features__thumb {
    @extend %flex-align;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--secondaty-bg-color);
}

.features__lable {
    margin-bottom: 10px;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.features__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-text-color);
}