.footer-navigation__logo {
    display: block;
    margin-right: auto;
    margin-bottom: 20px;
}

.footer-nav__list {
    margin-right: auto;

    & .link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition-dur-and-func);
    
}
}



.footer-nav__item {
    list-style: none;
    margin-bottom: 9px;
}

.footer-section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--primary-dark-color);
}


.footer-nav__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-bg-color);
    transition: color var(--transition-dur-and-func);

    &:hover,
    &:focus {
        color: var(--primery-accent-color);
    }

}

.page-footer {
    display: flex;
    align-items: baseline;
}
    
.footer-navigation {
    margin-right: 70px;
}
    
    
    
.footer-social.list {
    display: flex;
    column-gap: 10px;
}
    
.footer-suptitle {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-bg-color);
}
    
.footer-social.link {
    @extend %flex-align;
    width: 44px;
    height: 44px;
    padding: 12px;
    fill: var(--primary-bg-color);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    
    transition: background-color var(--transition-dur-and-func);
}
    
.footer-social.link:hover,
.footer-social.link:focus {
    background-color: var(--primery-accent-color);
}